aiohappyeyeballs==2.5.0 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.11.13 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.12" and python_version < "4.0"
altair==5.5.0 ; python_version >= "3.12" and python_version < "4"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4"
anyio==4.8.0 ; python_version >= "3.12" and python_version < "4"
attrs==25.1.0 ; python_version >= "3.12" and python_version < "4"
black==25.1.0 ; python_version >= "3.12" and python_version < "4"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "4"
cachetools==5.5.2 ; python_version >= "3.12" and python_version < "4"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "4"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation == "PyPy"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "4"
click==8.1.8 ; python_version >= "3.12" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4" and platform_system == "Windows"
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.12" and python_version < "4"
durationpy==0.9 ; python_version >= "3.12" and python_version < "4"
faiss-cpu==1.10.0 ; python_version >= "3.12" and python_version < "4"
frozenlist==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
gitdb==4.0.12 ; python_version >= "3.12" and python_version < "4"
gitpython==3.1.44 ; python_version >= "3.12" and python_version < "4"
google-api-core==2.24.1 ; python_version >= "3.12" and python_version < "4"
google-api-python-client==2.163.0 ; python_version >= "3.12" and python_version < "4"
google-auth-httplib2==0.2.0 ; python_version >= "3.12" and python_version < "4"
google-auth==2.38.0 ; python_version >= "3.12" and python_version < "4"
google-cloud-core==2.4.2 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos==1.69.0 ; python_version >= "3.12" and python_version < "4"
greenlet==3.1.1 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.12"
grpcio==1.70.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.12" and python_version < "4"
httpcore==1.0.7 ; python_version >= "3.12" and python_version < "4"
httplib2==0.22.0 ; python_version >= "3.12" and python_version < "4"
httpx-sse==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4"
httpx[socks]==0.28.1 ; python_version >= "3.12" and python_version < "4"
idna==3.10 ; python_version >= "3.12" and python_version < "4"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4"
jiter==0.8.2 ; python_version >= "3.12" and python_version < "4"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "4.0"
jsonpointer==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12" and python_version < "4"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "4"
kubernetes==32.0.1 ; python_version >= "3.12" and python_version < "4"
langchain-community==0.3.19 ; python_version >= "3.12" and python_version < "4.0"
langchain-core==0.3.41 ; python_version >= "3.12" and python_version < "4.0"
langchain-experimental==0.3.4 ; python_version >= "3.12" and python_version < "4.0"
langchain-google-community==2.0.7 ; python_version >= "3.12" and python_version < "4.0"
langchain-openai==0.3.7 ; python_version >= "3.12" and python_version < "4.0"
langchain-text-splitters==0.3.6 ; python_version >= "3.12" and python_version < "4.0"
langchain==0.3.20 ; python_version >= "3.12" and python_version < "4.0"
langgraph-checkpoint==2.0.16 ; python_version >= "3.12" and python_version < "4.0"
langgraph-prebuilt==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
langgraph-sdk==0.1.53 ; python_version >= "3.12" and python_version < "4.0"
langgraph==0.3.5 ; python_version >= "3.12" and python_version < "4.0"
langsmith==0.3.11 ; python_version >= "3.12" and python_version < "4.0"
lark==1.2.2 ; python_version >= "3.12" and python_version < "4"
libcst==1.6.0 ; python_version >= "3.12" and python_version < "4"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4"
marshmallow==3.26.1 ; python_version >= "3.12" and python_version < "4.0"
moreorless==0.4.0 ; python_version >= "3.12" and python_version < "4"
msgpack==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4"
narwhals==1.29.0 ; python_version >= "3.12" and python_version < "4"
numpy==2.2.3 ; python_version >= "3.12" and python_version < "4"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "4"
openai==1.65.4 ; python_version >= "3.12" and python_version < "4"
orjson==3.10.15 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "4"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4"
pillow==11.1.0 ; python_version >= "3.12" and python_version < "4"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4"
propcache==0.3.0 ; python_version >= "3.12" and python_version < "4.0"
proto-plus==1.26.0 ; python_version >= "3.12" and python_version < "4"
protobuf==5.29.3 ; python_version >= "3.12" and python_version < "4"
pyarrow==19.0.1 ; python_version >= "3.12" and python_version < "4"
pyasn1-modules==0.4.1 ; python_version >= "3.12" and python_version < "4"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation == "PyPy"
pydantic-core==2.27.2 ; python_version >= "3.12" and python_version < "4"
pydantic-settings==2.8.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.10.6 ; python_version >= "3.12" and python_version < "4"
pydeck==0.9.1 ; python_version >= "3.12" and python_version < "4"
pyparsing==3.2.1 ; python_version >= "3.12" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4"
pytz==2025.1 ; python_version >= "3.12" and python_version < "4"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4"
referencing==0.36.2 ; python_version >= "3.12" and python_version < "4"
regex==2024.11.6 ; python_version >= "3.12" and python_version < "4"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4"
rpds-py==0.23.1 ; python_version >= "3.12" and python_version < "4"
rsa==4.9 ; python_version >= "3.12" and python_version < "4"
six==1.17.0 ; python_version >= "3.12" and python_version < "4"
smmap==5.0.2 ; python_version >= "3.12" and python_version < "4"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4"
socksio==1.0.0 ; python_version >= "3.12" and python_version < "4"
sqlalchemy==2.0.38 ; python_version >= "3.12" and python_version < "4.0"
stdlibs==2024.12.3 ; python_version >= "3.12" and python_version < "4"
streamlit==1.43.0 ; python_version >= "3.12" and python_version < "4"
tenacity==9.0.0 ; python_version >= "3.12" and python_version < "4"
tiktoken==0.9.0 ; python_version >= "3.12" and python_version < "4"
toml==0.10.2 ; python_version >= "3.12" and python_version < "4"
tomlkit==0.13.2 ; python_version >= "3.12" and python_version < "4"
tornado==6.4.2 ; python_version >= "3.12" and python_version < "4"
tqdm==4.67.1 ; python_version >= "3.12" and python_version < "4"
trailrunner==1.4.0 ; python_version >= "3.12" and python_version < "4"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.1 ; python_version >= "3.12" and python_version < "4"
ufmt==2.8.0 ; python_version >= "3.12" and python_version < "4"
uritemplate==4.1.1 ; python_version >= "3.12" and python_version < "4"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "4"
usort==1.0.8.post1 ; python_version >= "3.12" and python_version < "4"
watchdog==6.0.0 ; python_version >= "3.12" and python_version < "4" and platform_system != "Darwin"
websocket-client==1.8.0 ; python_version >= "3.12" and python_version < "4"
yarl==1.18.3 ; python_version >= "3.12" and python_version < "4.0"
zstandard==0.23.0 ; python_version >= "3.12" and python_version < "4.0"
